<nav class="navbar navbar-inverse">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <a class="navbar-brand">CarServiceGame</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['Garage']">Garage</a>
      </li>
      <li>
        <a [routerLink]="['Orders']">Order</a>
      </li>
      <li>
        <a [routerLink]="['Workers']">Workers</a>
      </li>
      <li>
        <a [routerLink]="['Office']">Office</a>
      </li>
      <li>
        <a [routerLink]="['Ranking']">Ranking</a>
      </li>
      <li>
        <a [routerLink]="['Payment']">Payment</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>