

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h3>Step 1: Type email</h3>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="email">
    </div>
    <input type="button" class="btn btn-primary btn-block" (click)="this.sendCode()" value="Submit">
  </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3>Step 2: Type code</h3>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="code">
      </div>
      <input type="button" class="btn btn-primary btn-block" (click)="this.processCode()" value="Submit">
    </div>
  </div>

  <div *ngIf="this.isLoading()">
    <app-loader></app-loader>
  </div>