<div *ngIf="isStallEmpty(); else notEmpty">
  <h3>
    <div class="text-center">
      <span class="label label-danger align-center">EMPTY</span>
    </div>
  </h3>
</div>
<ng-template #notEmpty>
  <div>
    <div class="alert alert-success">
      <div *ngIf="!isOrderFinished(); else info" class="text-center">
        {{this.timerValue | date:'HH:mm:ss'}}
      </div>
      <ng-template #info>
        <div class="text-center">
          Order Finished
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-4 text-center" *ngIf="isOrderFinished(); else notFinished">
        <button class="btn btn-success" (click)="completeOrder()">Finish Order</button>
      </div>
      <ng-template #notFinished class="col-sm-4 col-xs-4 text-center">
        <button class="btn btn-success" (click)="immediatelyCompleteOrder()">Immediately Finish Order</button>
      </ng-template>
      <div class="col-sm-4 col-sm-offset-6 col-xs-4 col-xs-offset-6 text-center">
        <button [disabled]="isOrderFinished()" class="btn btn-danger" (click)="cancelOrder()">Cancel Order</button>
      </div>
    </div>
  </div>
</ng-template>