.loading{
    position:absolute;
    top:0px;
    left:50%;
    width:940px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-470px;   /* negative half of width above */
}