<div class="col-sm-6">
  <div class="page-header">
    <h3>Hired workers</h3>
  </div>
  <div style="overflow: auto; max-height: 700px;">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Efficiency</th>
        <th>Salary</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let worker of this.getWorkersFromGarage()">
        <td>{{worker.Name}} </td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="this.getWidth(worker.Efficiency)"></div>
          </div>
        </td>
        <td>${{worker.Salary}} </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="this.fire(worker)">Fire</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="this.upgrade(worker)">Upgrade</button>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="col-sm-6">
  <div class="page-header">
    <h3>Unemployed workers</h3>
  </div>
  <div style="overflow: auto; max-height: 700px;">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Efficiency</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let worker of this.getAvailableWorkers()">
        <td>{{worker.Name}} </td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="this.getWidth(worker.Efficiency)"></div>
          </div>
        </td>
        <td>${{worker.Salary}} </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="this.employ(worker)">Employ</button>
        </td>
      </tr>
    </table>
  </div>
</div>