<div class="col-sm-12" [style.opacity]="this.getOpacity()">
  <div class="page-header">
    <h3>Available orders</h3>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Car name</th>
      <th>Required work</th>
      <th>Reward</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let order of this.getOrders()">
      <td>{{order.CarName}} </td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="this.getWidth(order.RequiredWork)"></div>
        </div>
      </td>
      <td>{{order.Reward}} </td>
      <td>{{order.Description}} </td>
      <td> </td>
    </tr>
  </table>
</div>

<div *ngIf="this.isLoading()">
    <app-loader></app-loader>
</div>